// --------------------------------------------
// About Page
// --------------------------------------------

.about.block {
	height: auto;
	padding: 60px 0;

	@include mq($tablet) {
		height: 100vh;
		padding: 0;
	}
}

.about-kate {
	width: 90%;
	font-family: $sans;
	font-weight: $font-weight-regular;
	font-size: 15px;
	color: $clr-black;
	line-height: 30px;
	margin: 0 auto 15px auto;

	@include mq($tablet) {
		width: 60%;
		font-size: 18px;
		line-height: 34px;
	}
}

.p-link {
	text-decoration: none;
	color: $clr-black;
	font-weight: $font-weight-bold;
	position: relative;
	border-bottom: 1px solid $clr-black;
	transition: 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid $clr-pink;
	}	
}

.reveal-kate {
  @include mq($tablet) {
    &:hover {
      .kate-image {
        display: block;
      }
    }
  }
}

.kate-image {
  display: none;
  position: absolute;
  left: -220px;
  bottom: -300px;
}