.contents-nav {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: $clr-black;
    overflow: hidden;
    z-index: 99;
    transition: 0.3s ease-in-out;
}

.contents-links {
    li {
        display: block;
        position: relative;

        a {
            color: white;
        }
    }
}

.navigation-wrapper {
  background: $clr-pink;
  padding: 40px 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  .nav-contents {
    position: absolute;
    bottom: 71px;
    right: 52px;
    font-family: $sans;
    font-size: 13px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.6px;

    &::before {
      content: '→';
      font-family: OfficeCodeProDRegular, monospace;
      position: absolute;
      font-weight: 600;
      bottom: 1px;
      right: -12px;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      &::before {
        right: -15px;
      }
    }
  }
}

.navigation {
  padding-top: 90px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  @include mq($tablet) {
    padding-top: 160px;
  }
}

.show-menu {
  opacity: 1;
  z-index: 900;
}

.navigation li {
  list-style: none;
  margin-bottom: 15px;
  transition: all ease .6s;
  width: inherit;
} 

.navigation-main a {
  width: 100%;
  display: block;
  padding: 10px 0;
  color: $clr-white;
  font-family: $sans;
  font-weight: $font-weight-black;
  font-size: 30px;
  text-decoration: none;
  -moz-transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  position: relative;
  transition: 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.5;
  }


  @include mq($tablet) {
    font-size: 40px;
    padding: 10px 0;
  }
}

.navigation_social-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 0;

  @include mq($tablet) {
    flex-direction: row;
  }
  li {
    margin-right: 0;
    font-family: $sans;
    color: $clr-white;
    position: relative;
    font-size: 14px;
    font-weight: $font-weight-regular;
    text-decoration: none;

    @include mq($tablet) {
      margin-right: 20px;
    }

    a {
      font-size: 18px;
      font-family: $sans;
      font-weight: $font-weight-regular;
      position: relative;
      height: 14px;
      padding: 0;
      opacity: 1;
      transition: 0.3s ease-in;
      font-family: $sans;
      text-decoration: none;
      color: $clr-white;
      width: 100%;
      display: block;

      &:hover {
        opacity: 0.65;
      }

      &::after {
        content: '';
      }
    }

    @include mq($tablet) {

      a {
        padding-right: 5px;
        font-size: 14px;
      }

      a::after {
        content: '\f118';
        font-family: FontAwesome;
        font-size: 12px;
        position: absolute;
        color: $clr-white;
        bottom: 0px;
        right: -7px;
        transition: 0.3s ease-in-out;
      }
    }

    a:hover {
      &::after {
        transform: rotate(-180deg);
      }
    }

  }
  li:first-child {
    &::after {
      content: '';
      width: 58px;
      height: 1px;
      background-color: $clr-white;
      position: absolute;
      left: 0;
      top: 16px;

    }
  }

  li:nth-child(5) {
    a::after {
      content: '';
    }
  }
}