// bower:scss
// endbower

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-left: 50px;
  position: fixed;
  z-index: 3;

}


.text-change {
  color: black;
  font-family: $sans;
  font-size: 33px;
  cursor: pointer;
  font-weight: $font-weight-black;
  @include mq($desktop-xxl) {
    font-size: 56px;
  }
}

.change-serif {
  font-family: $serif-saol;
  font-weight: $font-weight-regular;
  font-size: 33px;
  cursor: pointer;
  position: relative;
  width: 100%;
  @include mq($desktop-xxl) {
    font-size: 56px;
  }
}

.section .one {

}

.section.two {
  position: relative;
  .reveal-boston:hover {
    .boston-image {
      opacity: 1;
      bottom: 0px;
      visibility: visible;
    }
  }

  .boston-image {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    width: 40%;
    height: auto;
    right: 40px;
    bottom: -20px;
  }
}

.section.three {
  position: relative;
  .reveal-massart:hover {
    .massart-image.m1 {
      opacity: 1;
      bottom: -280px;
      visibility: visible;
      @include mq($desktop-xxl) {
        bottom: -500px;
      }
      @include mq(3000px) {
        visibility: hidden;
      }
    }
    .massart-image.m2 {
      opacity: 1;
      bottom: -60px;
      visibility: visible;
      @include mq(3000px) {
        bottom: -330px;
      }
    }
    .massart-image.m3 {
      opacity: 1;
      bottom: 125px;
      visibility: visible;

    }

    .massart-image.m4 {
      opacity: 1;
      bottom: -330px;
      visibility: visible;
      @include mq(3000px) {
        visibility: hidden;
      }
    }
  }

  .massart-image {
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
  }
  .m1 {
    width: 30%;
    height: auto;
    right: 200px;
    bottom: -300px;
    @include mq($desktop-xxl) {
      right: 0px;
    }
  }

  .m2 {
    width: 40%;
    height: auto;
    right: 0;
    bottom: -30px;
    @include mq(3000px) {
      bottom: -300px;
    }
  }

  .m3 {
    width: 20%;
    height: auto;
    right: 550px;
    bottom: 100px;
    @include mq($desktop-xxl) {
      right: 900px;
    }
  }

  .m4 {
    width: 20%;
    height: auto;
    right: 650px;
    bottom: -300px;
    @include mq($desktop-xxl) {
      right: 800px;
      bottom: 10%;
    }
  }
}

.section.four {
  position: relative;
  .reveal-wizard:hover {
    .wizard-image {
      opacity: 1;
      bottom: -60px;
      visibility: visible;
    }
  }
  .wizard-image {
    position: absolute;
    width: 30%;
    height: auto;
    right: 0;
    bottom: -80px;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
  }
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 225px;
  z-index: 2;
  overflow: hidden;
  @include mq($desktop-xxl) {
    padding-left: 350px;
  }
}

.section.five {
  background: url("https://media.giphy.com/media/l0MYzjeAfI9p1yoXS/giphy.gif");
  background-size: cover;
  z-index: -3;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.end {
  position: absolute;
  z-index: 5;
}

.fromTopIn2
{
  transition: transform 2.0s ease, opacity 2.0s ease; 
  transform: translate(0,0);
  opacity: 1.0;
}

.fromTopOut2
{
  transition: transform 2.0s ease, opacity 2.0s ease;
  transform: translate(0,-10px);
  opacity: 0.0;
}

.fromLeftIn
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(0,0);
  opacity: 1.0;
}

.fromLeftOut
{
  transition: transform 1.0s ease, opacity 1.0s ease;
  
  transform: translate(-10px,0);
  opacity: 0.0;
}