// --------------------------------------------
// Project List on the Index Page
// --------------------------------------------


.project-list {
  text-align: left;

  @include mq($tablet) {
    text-align: left;
    margin-left: 50%;
  }

  @include mq($desktop) {
    margin-left: 55%;
    text-align: left;
  }
}

.project-list-item {
  list-style-type: none;
  font-family: $serif;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: $font-weight-light;
  a {
    text-decoration: none;
    color: $clr-black;
  }

  @include mq($tablet) {
    font-size: 3.8vw;
  }

  @include mq($desktop) {
  	// font-size: 47px;
  }
}

.reveal-burghley {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .burghley-image {
        display: block;
      }
    }
  }
}

.burghley-image {
  display: none;
  position: absolute;

  left: -550px;
  bottom: 100px;
}

.reveal-greenland {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .greenland-image {
        display: block;
      }
    }
  }
}

.greenland-image {
  display: none;
  position: absolute;
  height: 300px;
  width: auto;
  left: -600px;
  top: 0px;
}

.reveal-flylo {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .flylo-image {
        display: block;
      }
    }
  }
}

.flylo-image {
  display: none;
  position: absolute;
  left: -600px;
  bottom: 200px;
}

.reveal-snob {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .snob-image {
        display: block;
      }
    }
  }
}

.snob-image {
  display: none;
  position: absolute;
  height: 300px;
  width: auto;
  left: -500px;
  bottom: 10px;
}

.reveal-witold {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .witold-image {
        display: block;
      }
    }
  }
}

.witold-image {
  display: none;
  position: absolute;
  height: 220px;
  width: auto;
  left: -700px;
  bottom: 40px;
}

.reveal-luxury {
  cursor: pointer;
  @include mq($tablet) {
    &:hover {
      .luxury-image {
        display: block;
      }
    }
  }
}

.luxury-image {
  display: none;
  position: absolute;
  left: -500px;
  bottom: 40px;
}