// --------------------------------------------
// Project List on the Index Page
// --------------------------------------------


.project-list {
  text-align: center;
  padding-left: 0px;

  @include mq($tablet) {
    text-align: left;
    margin-left: 65%;
  }

  @include mq($desktop) {
    margin-left: 65%;
    text-align: left;
  }
}

.project-list-item {
  list-style-type: none;
  font-family: $serif;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: $font-weight-light;
  transition: 0.3s ease;
  opacity: 1;

  a {
    text-decoration: none;
    color: $clr-black;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.3px;

    &:hover {
      color: $clr-gray;
    }
  }

  @include mq($tablet) {
    font-size: 28px;
  }

  @include mq($desktop) {
  	// font-size: 47px;
  }
}

.reveal-burghley {
  @include mq($tablet) {
    &:hover {
      .burghley-image {
        opacity: 1;
        bottom: 110px;
        visibility: visible;
      }
    }
  }
}

.burghley-image {
  position: absolute;
  width: 350px;
  height: auto;
  left: -400px;
  bottom: 100px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;

  @include mq($desktop-xl) {
    width: 400px;
    height: auto;
    left: -550px;
  }
}

.reveal-greenland {
  @include mq($tablet) {
    &:hover {
      .greenland-image {
        opacity: 1;
        top: -60px;
        visibility: visible;
      }
    }
  }
}

.greenland-image {
  display: block;
  position: absolute;
  height: 300px;
  width: auto;
  left: -450px;
  top: -70px;
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;

  @include mq($desktop-xl) {
    left: -600px;
    height: 300px;
    width: auto;
  }
}

.reveal-flylo {
  @include mq($tablet) {
    &:hover {
      .flylo-image {
        opacity: 1;
        bottom: 170px;
        visibility: visible;
      }
    }
  }
}

.flylo-image {
  display: block;
  position: absolute;
  left: -500px;
  bottom: 160px;
  height: 300px;
  width: auto;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;

  @include mq($desktop-xl) {
    left: -600px;
  }
}

.reveal-snob {
  @include mq($tablet) {
    &:hover {
      .snob-image {
        opacity: 1;
        bottom: 20px;
        visibility: visible;
      }
    }
  }
}

.snob-image {
  visibility: hidden;
  display: block;
  position: absolute;
  height: 300px;
  width: auto;
  left: -500px;
  bottom: 10px;
  transition: 0.3s ease;
  opacity: 0;
}

.reveal-witold {
  @include mq($tablet) {
    &:hover {
      .witold-image {
        opacity: 1;
        bottom: 50px;
        visibility: visible;
      }
    }
  }
}

.witold-image {
  visibility: hidden;
  display: block;
  position: absolute;
  height: 220px;
  width: auto;
  left: -500px;
  bottom: 40px;
  opacity: 0;
  transition: 0.3s ease;

  @include mq($desktop-xl) {
    left: -700px;
  }
}

.reveal-luxury {
  @include mq($tablet) {
    &:hover {
      .luxury-image {
        opacity: 1;
        bottom: -30px;
        visibility: visible;
      }
    }
  }
}

.luxury-image {
  visibility: hidden;
  display: block;
  opacity: 0;
  transition: 0.3s ease;
  position: absolute;
  left: -520px;
  bottom: -40px;
}