// --------------------------------------------
// Breakpoints
// --------------------------------------------

$phone:      401px;
$phablet:    550px;
$tablet-sm:  768px;
$tablet:     850px;
$desktop:    1024px;
$desktop-xl: 1240px;
$desktop-xxl: 1500px;


// --------------------------------------------
// Colors
// --------------------------------------------

$clr-tan:		#f4f1e4;
$clr-white:		#ffffff;
$clr-black:		#000000;
$clr-pink:		#4e5d54;
$clr-gray:		#bcbbb6;
