
// Import Upbase
@import "upbase/scss/upbase";
@import "variables";
@import "fonts";
@import "nav";
@import "main-project-list";
@import "biography";
@import "contents";
@import "about";
@import "project-page";
@import "intro";

body {
  background-color: $clr-white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  height: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  moz-font-feature-settings: "kern";
  font-kerning: normal;

  @include mq($tablet) {
    min-height: 100vh;
  }
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  
  @include mq($tablet) {
    width: 90%;
  }
}

.block {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.dia {
  font-family: $sans;
  font-weight: $font-weight-black;
}

.fromLeftIn {
  transition: transform 1s ease, opacity 1s ease;
  transform: translate(0,0);
  opacity: 1.0;
}

.fromLeftOut {
  transition: transform 1s ease, opacity 1s ease;
  transform: translate(0,-10px);
  opacity: 0.0;
}

.fromTopIn {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate(0,0);
  opacity: 1.0;
}

.fromTopOut {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translate(0,-10px);
  opacity: 0.0;
}


.animated {
  animation: opacity 0.75s ease-in;
  animation-iteration-count: 1;
  -webkit-animation: opacity 0.75s ease-in;
  -moz-animation: opacity 0.75s ease-in;
  -o-animation: opacity 0.75s ease-in;
  -ms-animation: opacity 0.75s ease-in;

  @include mq($tablet) {
    animation: opacity 0.75s ease-in, move 0.75s linear forwards;
    animation-iteration-count: 1;
    -webkit-animation: opacity 0.75s ease-in, move 0.75s linear forwards;
    -moz-animation: opacity 0.75s ease-in, move 0.75s linear forwards;
    -o-animation: opacity 0.75s ease-in, move 0.75s linear forwards;
    -ms-animation: opacity 0.75s ease-in, move 0.75s linear forwards;
  }
}

@keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes move {
  0% { transform: translate(0px, 0px); }
  100% {transform: translate(5px, 0px); }
}

@-moz-keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes move {
  0% { transform: translate(0px, 0px); }
  100% {transform: translate(5px, 0px); }
}

@-webkit-keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes move {
  0% { transform: translate(0px, 0px); }
  100% {transform: translate(5px, 0px); }
}

@-o-keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes move {
  0% { transform: translate(0px, 0px); }
  100% {transform: translate(5px, 0px); }
}

@-ms-keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes move {
  0% { transform: translate(0px, 0px); }
  100% {transform: translate(5px, 0px); }
}

.showpic {
  cursor: pointer;
  border-bottom: 2px solid $clr-black;
  padding-bottom: 3px;
  &:hover {
    .showrobot {
      display: block;
    }
  }
}

.showpic2 {
  cursor: pointer;
  border-bottom: 2px solid $clr-black;
  padding-bottom: 3px;
  text-decoration: none;
  color: $clr-black;

  @include mq($tablet) {
    &:hover {
    .showthanks {
      display: block;
    }
    }
  }
}

.showthanks {
  border: 2px solid $clr-black;
  box-shadow: 5px 5px 0px 0px $clr-black;
  display: none;
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.showrobot {
  border: 2px solid $clr-black;
  box-shadow: 5px 5px 0px 0px $clr-black;
  display: none;
  position: absolute;
  top: 80px;
  left: 40px;
}